td, th {
    padding: 0px;
}
body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center center;
}
.LogonContentWidth {
    width: 400px;
}
.LogonContent {
    padding: 20px 25px;
    background-color: transparent;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35), 0px 0px 20px 0px rgba(0,0,0,.85), inset 0px 0px 55px 45px rgba(255,255,255,.34);
}

.LogonContent:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(255,255,255,.40),rgba(255,255,255,.40)), url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center center;
    filter: blur(8px);
}

.LogonMainTable {
    border: none;
}

.CardGroupContent {
    background: transparent;
}

.image-logo {
    text-align: center;
}

.Caption {
    color: #000;
    font-size: .96em;
    padding-bottom: 3px;
}